## Load C-code
# attribution: line below adapted from the old Ringo package
# https://www.bioconductor.org/packages/release/bioc/src/contrib/Ringo_1.66.0.tar.gz
useDynLib(Repitools, .ringoMovingMeanSd=moving_mean_sd)

#.onLoad <- function(lib, pkg) require(methods)

#  All functions exported other than those starting with "."
import(methods, BiocGenerics, S4Vectors, IRanges, GenomicRanges, GenomeInfoDb, BSgenome, edgeR)
#importFrom(aroma.affymetrix, AffymetrixCelSet)
importFrom(parallel, detectCores, mclapply)
importFrom(Biostrings, BString, letterFrequency, BStringSet, DNAStringSet, DNAString, matchPattern)
importFrom(Rsamtools, ScanBamParam, scanBamFlag)
importFrom(GenomicAlignments, readGAlignments)
importFrom(DNAcopy, CNA, smooth.CNA, segment)
importFrom(MASS, rlm)
importFrom(rtracklayer, import, BigWigFile)
#importFrom(Ringo, sliding.meansd)
importFrom(gplots, colorpanel)
importFrom(grid, grid.newpage, viewport, gList, gTree, grid.draw, grid.text, rectGrob, gpar)
importFrom(gsmoothr, tmeanC)
importFrom(cluster, pam)
importFrom(Rsolnp, solnp)
  importFrom("graphics", "abline", "axis", "barplot", "bxp", "grid",
             "layout", "legend", "lines", "matlines", "matplot", "mtext",
             "par", "persp", "plot", "plot.new", "plot.window", "points",
             "polygon", "rect", "text", "title")
  importFrom("grDevices", "dev.off", "pdf", "rainbow")
  importFrom("stats", "dbeta", "embed", "filter", "kmeans", "lm",
             "lowess", "p.adjust", "predict", "pt", "qnorm", "t.test")
  importFrom("utils", "read.table", "str")


exportClasses(FastQC, SequenceQC, SequenceQCSet, ScoresList, ClusteredScoresList, QdnaData, BayMethList)
exportMethods(show)
exportPattern("^[^\\_|^\\.]")
